.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
  background: #282c34;
}

.App-header {
  flex-grow: 2;
  display: flex;
  flex-flow: column;
  max-height: 80vh;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  max-height: 20vh;
  margin-top: auto;
}

.App-link {
  color: #61dafb;
}

.Image-set-container {
  overflow-y: auto;
  max-height: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
}

.Image-container {
  height: inherit;
  flex: none;
  width: 15%;
  min-width: 150px;
  margin-top: 2%;
}

.Image-boundary {
  width: 80%;
  margin-left: 10%;
  position: relative;
}

.Image-boundary::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.App-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  image-rendering: pixelated;
  transition: transform 350ms;
  object-fit: cover;
}

img.App-image:hover {
  transform: scale(1.1);
}

.block-name {
  overflow-wrap: break-word;
  font-weight: bold;
}

.block-id {
  overflow-wrap: break-word;
  font-size: calc(10px + 1vmin);
}

.Generate-button {
  background-color: #61dafb;
  border: none;
  margin-top: auto;
  margin-bottom: 20px;
  width: fit-content;
  align-self: center;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform 250ms;
}

button.Generate-button:hover {
  transform: translateY(-2px);
}

.social-container {
  height: fit-content;
  overflow-x: hidden;
  margin-top: auto;
}

.social-header {
  color: white;
  margin: 0.25rem;
}

.social-link-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

a.social {
  margin: 1rem;
  transition: transform 250ms;
}

a.social:hover {
  transform: translateY(-5px);
}

a.youtube {
  color: #eb3223;
}

a.twitch {
  color: #9146ff;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

a.github {
  color: black;
}

/* Width */
::-webkit-scrollbar
{
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}