.App {
  text-align: center;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
}

.App-header {
  flex-grow: 2;
  background-color: #282c34;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Image-set-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
}

.Image-container {
  height: inherit;
  flex: none;
  width: 15%;
  min-width: 150px;
}

.App-image {
  width: 80%;
  overflow: hidden;
  image-rendering: pixelated;
  transition: transform 350ms;
}

img.App-image:hover {
  transform: scale(1.1);
}

.block-name {
  overflow-wrap: break-word;
}

.block-id {
  overflow-wrap: break-word;
}

.Generate-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform 250ms;
}

button.Generate-button:hover {
  transform: translateY(-2px);
}

.social-container {
  height: fit-content;
  margin-top: auto;
  background: #282c34;
}

.social-header {
  color: white;
  margin: 0.25rem;
}

a.social {
  margin: 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-5px);
}

a.youtube {
  color: #eb3223;
}

a.twitch {
  color: #9146ff;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

a.github {
  color: black;
}