.App {
  text-align: center;
}

.App-image {
  height: 20vmin;
  image-rendering: pixelated;
  transition: transform 350ms;
}

img.App-image:hover {
  transform: scale(1.1);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Image-set-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  gap: 60px;
}

.Image-container {
  height: inherit;
}

.Generate-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform 250ms;
}

button.Generate-button:hover {
  transform: translateY(-2px);
}

.social-container {
  padding: 25px 50px;
}

a.social {
  margin: 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.twitch {
  color: #9146ff;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

a.github {
  color: black;
}